:root {
    --yello-shades: linear-gradient(to bottom right, #ffd639, #e7a700);
    --light-yellow: #FCD12A;
    --dark-yellow: #FABB18;
    --white: #FFFFFF;
    --gray: #EEEEEE;
    --text-color: black;
    /* --shadows: ; */
    --color: black;
    --Poppins: "Poppins";
    --Jaro: "Jaro";
    --Shrikhand: "Shrikhand";
    --shadow: #00000059;


}


:root.dark {
    --yello-shades: linear-gradient(to bottom right, #626262, #282828);
    --light-yellow: #303030;
    --dark-yellow: black;
    --white: #292929;
    --text-color: white;
}